@font-face {
  font-family: "Gadugi";
  src: url('/css/fonts/gadugi.ttf') format('truetype');
}
@font-face {
  font-family: "Gadugi";
  src: url('/css/fonts/gadugi-bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: "Nunito";
  src: url('/css/fonts/nunito.woff') format('woff'), url('/css/fonts/nunito.woff2') format('woff2');
}
@font-face {
  font-family: "Nunito";
  src: url('/css/fonts/nunito-bold.woff') format('woff'), url('/css/fonts/nunito-bold.woff2') format('woff2');
  font-weight: bold;
}
@font-face {
  font-family: "Nunito";
  src: url('/css/fonts/nunito-light.woff') format('woff'), url('/css/fonts/nunito-light.woff2') format('woff2');
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url('/css/fonts/OpenSans-Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url('/css/fonts/OpenSans-Italic.ttf') format('truetype');
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url('/css/fonts/OpenSans-Bold.ttf') format('truetype');
  font-style: bold;
}
/*====================================================================================================
End of imports
=====================================================================================================*/
/*=====================================================================================================
Begin variables
======================================================================================================*/
/*====================================================================================================
End of variables
=====================================================================================================*/
/*=====================================================================================================
Begin extensibles
======================================================================================================*/
/*====================================================================================================
End of extensibles
=====================================================================================================*/
body {
  background-color: white;
  font-family: "Open Sans";
  color: #585858;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
p,
a {
  font-size: 14px;
}
p:hover,
a:hover {
  text-decoration: none;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  li {
    font-size: 12px;
  }
}
.container {
  display: block !important;
  margin: auto !important;
  padding: 0px !important;
}
.navbar {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-top: 4px solid #7b6b38;
  width: 100%;
  position: fixed;
  top: 0px !important;
  z-index: 9999;
  background-color: white;
}
.navbar .container {
  position: relative;
}
.navbar .container .navbar-toggler {
  position: absolute;
  right: 0px;
  top: calc(50% - 25px);
  font-size: xx-large;
  border-radius: 5px;
  line-height: 100%;
  padding: 10px 10px 0px 10px;
}
.navbar .container .navbar-toggler:focus {
  background-color: #eee;
  border: none;
}
.navbar .container #main-nav {
  position: absolute;
  right: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .navbar .container #main-nav {
    display: none;
  }
}
.navbar .container #main-nav .nav-item {
  margin-left: 16px;
  font-size: 12px;
  position: relative;
  /* End Nav Link */
}
.navbar .container #main-nav .nav-item a {
  text-transform: uppercase;
  font-size: 12px;
}
.navbar .container #main-nav .nav-item.active,
.navbar .container #main-nav .nav-item:hover {
  border-bottom: 1.5px solid #7b6b38;
}
.navbar .container #main-nav .nav-item.active a,
.navbar .container #main-nav .nav-item:hover a {
  text-transform: uppercase;
  color: #7b6b38;
}
.navbar .container #main-nav .nav-item:hover > .dropdown-menu {
  display: block;
}
.navbar .container #main-nav .nav-item .dropdown-menu {
  border: none;
  text-transform: uppercase !important;
  position: absolute;
  left: 0px;
  background-color: #014783 !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.navbar .container #main-nav .nav-item .dropdown-menu li a {
  color: white !important;
}
.navbar .container #main-nav .nav-item .dropdown-menu li a:hover {
  font-weight: bold;
}
.navbar .container #main-nav .nav-item .dropdown-menu li:hover {
  background-color: #014783;
}
.navbar .container #main-nav .nav-item .nav-link {
  text-transform: uppercase !important;
  position: relative;
}
.header {
  width: 100%;
  height: 550px;
  margin-top: 50px;
  background-size: cover;
  /*&.basic{
    background-image: url('/images/basic.jpg');
    height: 800px !important;
  }


  &.quality{
    background-image: url('/images/quality.jpg');
    height: 800px !important;
  }*/
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .header {
    height: 500px;
  }
}
.header.home {
  background-image: url('/images/home_bg.jpg');
}
.header.about {
  background-image: url('/images/bookkeeping.jpg');
}
.header.about .container {
  height: 100%;
}
.header.about .container .slidein {
  background-color: rgba(1, 71, 131, 0.9);
  color: white;
  display: block;
  float: right;
  padding: 24px;
  width: 450px;
  height: 100%;
}
.header.about .container .slidein h1 {
  font-size: 45px;
}
.header.about .container .slidein h1:first-child {
  margin-top: 100px;
}
.header.about .container .slidein h1.yellow {
  color: yellow;
  position: relative;
  line-height: 80px;
  text-align: top;
}
.header.about .container .slidein h1.yellow:after {
  content: "";
  position: absolute;
  width: 40%;
  height: 2px;
  border-bottom: 2px solid yellow;
  bottom: 0px;
  left: 0px;
}
.header.about .container .slidein p {
  font-size: large;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .header.about .container .slidein p {
    font-size: medium;
  }
}
.header .container .caption {
  background-color: #014783;
  color: white;
  display: block;
  margin-top: 100px;
  float: right;
  padding: 24px;
  width: 450px;
}
.header .container .caption h1 {
  font-size: 50px;
}
.header .container .caption p {
  font-size: large;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .header .container .caption p {
    font-size: medium;
  }
}
.header.services {
  background-image: url('/images/consulting.jpg');
  background-position: center;
}
.header.blog {
  background-image: url('/images/blog.jpg');
}
.header.contact-us {
  background-image: url('/images/map.jpg');
}
section {
  margin-top: 100px;
  padding: 0px;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  section {
    margin-top: 50px;
  }
}
.about-section .container {
  height: 250px;
  overflow: hidden;
}
.about-section .container .row {
  height: 100%;
}
.about-section .container .row div {
  height: 100%;
}
.about-section .container .row .laughing-man-div {
  position: relative;
  padding: 0px;
}
.about-section .container .row .laughing-man-div img {
  height: 100%;
}
.about-section .container .row .laughing-man-div .about-us-div {
  background-color: #7b6b38;
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  top: 0px;
}
.about-section .container .row .laughing-man-div .about-us-div p {
  text-align: center;
  line-height: 250px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .about-section .container .row .laughing-man-div .about-us-div p {
    font-size: medium;
  }
}
.about-section .container .row .lady {
  background-image: url('/images/woman-entrepreneur.jpg');
  background-size: cover;
  background-position: right;
  padding: 0px;
}
.about-section .container .row .lady .blue-screen {
  width: 50%;
  height: 100%;
  background-color: rgba(1, 71, 131, 0.7);
  background-image: none;
}
.main-content .container p {
  padding: 0px;
  font-size: large;
  text-align: justify;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .main-content .container p {
    font-size: medium;
    padding: 20px;
  }
}
.what-we-do-left {
  padding: 50px;
}
.what-we-do-left h1 {
  font-size: 45px;
  color: #014783;
  margin: 50px 0px;
}
.what-we-do-left p {
  width: 400px;
  margin-bottom: 50px;
  font-size: large;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .what-we-do-left p {
    font-size: medium;
  }
}
.what-we-do-left a {
  padding: 10px 24px;
  background-color: #7b6b38;
  color: white;
  border-radius: 15px;
}
.what-we-do-right .row {
  height: 250px;
}
.what-we-do-right .row img {
  width: 200px;
  height: 250px;
  margin: 0px;
}
.what-we-do-right .row div {
  padding: 20px 50px;
  margin: 0px;
  box-sizing: border-box;
  width: 200px;
  height: 250px;
}
.what-we-do-right .row div.experience {
  background-color: #014783;
}
.what-we-do-right .row div.reliable {
  background-color: #7b6b38;
}
.what-we-do-right .row div p {
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 1em;
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .what-we-do-right .row div p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .what-we-do-right .row {
    padding: 0px 50px;
  }
  .what-we-do-right .row .row {
    margin: 0px !important;
    display: block;
  }
  .what-we-do-right .row img {
    width: 100%;
    height: 200px;
    margin: 0px;
  }
  .what-we-do-right .row div {
    width: 200px;
    height: 200px;
    margin: 0px !important;
    padding: 0px 30px;
  }
  .what-we-do-right .row div p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 100px;
  }
}
.how-we-help {
  height: 800px !important;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .how-we-help {
    height: 1200px !important;
  }
}
.our-services {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .our-services {
    flex-wrap: wrap !important;
    text-align: center;
    justify-content: center;
  }
}
.our-services .service {
  flex: 1;
  width: 20%;
  margin: 0px 5px;
  box-sizing: border-box;
  padding: 12px;
  color: white;
  cursor: pointer;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .our-services .service {
    width: 33%;
    margin-bottom: 20px;
  }
  .our-services .service li {
    font-size: 12px;
  }
}
.our-services .service p {
  text-align: left;
  font-weight: normal;
  font-size: small;
}
.our-services .service h4 {
  font-weight: bold;
  font-size: 24px;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .our-services .service h4 {
    text-align: left;
  }
}
.our-services .service:hover {
  -webkit-transform: translateY(-16px);
  transform: translateY(-16px);
}
.mission,
.how-we-help,
.service-desc,
.basic,
.quality,
.expertise,
.cost {
  width: 100%;
  height: 600px;
  background-image: url('/images/business.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 100px;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .mission,
  .how-we-help,
  .service-desc,
  .basic,
  .quality,
  .expertise,
  .cost {
    height: 800px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .mission,
  .how-we-help,
  .service-desc,
  .basic,
  .quality,
  .expertise,
  .cost {
    padding-top: 80px;
  }
}
.methodology {
  width: 100%;
  height: 700px;
  background-image: url('/images/business.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 100px;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .methodology {
    height: 1000px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .methodology {
    padding-top: 80px;
  }
}
.section-header {
  background-color: rgba(123, 107, 56, 0.7);
  padding: 50px 0px;
  text-align: center;
  color: white;
  font-weight: bold;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .section-header {
    padding: 30px 20px;
  }
}
.section-header p {
  font-size: normal;
}
.section-content {
  background-color: white;
  padding: 80px 0px;
  color: #585858;
  position: relative;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .section-content {
    padding: 50px 20px;
  }
}
.section-content p {
  font-size: 16px;
  font-weight: bold;
}
.section-content .container {
  text-align: center;
}
.section-content .container ul {
  list-style-type: none;
  padding-left: 0px;
}
.section-content::before {
  content: "";
  border-bottom: 20px solid white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  display: block;
  margin: auto;
  left: calc(50% - 10px);
  top: -20px;
}
.services-section {
  margin-bottom: 0px !important;
}
.services-section .container .row {
  display: flex;
  flex-drection: row;
  flex-wrap: nowrap;
}
.services-section .container .row .service-list {
  padding: 30px 0px;
  margin: 1px;
  color: white;
  text-align: center;
}
.services-section .container .row .service-list p {
  font-size: large;
  font-weight: bold;
}
.services-section .container .row .service-list:hover,
.services-section .container .row .service-list.active {
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}
.service-content {
  margin-top: 0px !important;
  background-color: white;
  padding: 80px 0px;
  color: #585858;
  position: relative;
}
.service-content .container {
  text-align: justify-center;
  display: none !important;
}
.service-content .container.active {
  display: block !important;
}
.service-content ul {
  padding-left: 0px;
  text-align: center;
  list-style-type: none;
}
.service-content h1 {
  text-align: center;
}
.service-content p {
  font-size: 16px;
  font-weight: bold;
}
.row.our-services {
  margin-bottom: 50px !important;
}
.blog-section .container {
  overflow: hidden;
}
.blog-section .container .blog-title {
  margin: 50px 0px;
}
.blog-section .container .featured-image {
  width: 60%;
  height: 300px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .blog-section .container .featured-image {
    width: 100%;
  }
}
.blog-section .container .featured-image img {
  width: 100%;
}
.blog-section .container .blog-body {
  width: 60%;
  margin-top: 50px;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .blog-section .container .blog-body {
    width: 100%;
    padding: 0px 20px;
  }
}
.blog-section .container .read-more-div {
  width: 60%;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .blog-section .container .read-more-div {
    width: 100%;
    padding: 0px 20px;
  }
}
.blog-section .container .read-more-div .read-more {
  display: block;
  float: right;
}
.blog-section .container .blog-divider {
  height: 10px;
  width: 60%;
  background-color: #014783;
  margin-top: 50px;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .blog-section .container .blog-divider {
    width: 100%;
  }
}
.blog-section .container .blog-divider div {
  background-color: #7b6b38;
  width: 50%;
  height: 100%;
}
.contact-section .container .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .contact-section .container .row {
    flex-direction: column;
  }
}
.contact-section .container .row > div {
  padding: 50px;
}
.contact-section .container .row > div h2 {
  color: #014783;
  margin-bottom: 50px;
}
.contact-section .container .row > div h4 {
  color: #014783;
  margin-bottom: 24px;
}
.contact-section .container .row > div span {
  font-weight: bold;
  color: #7b6b38;
}
.contact-section .container .row .form h2 {
  color: #014783;
}
.contact-section .container .row .form .form-group input[type="submit"] {
  display: inline-block;
  width: 150px;
}
.contact-section .container .row .address h2 {
  color: #7b6b38;
}
.site-divider {
  height: 10px;
  width: 100%;
  background-color: #014783;
  margin-top: 50px;
}
.site-divider div {
  background-color: #7b6b38;
  width: 50%;
  height: 100%;
}
.see-services {
  width: 180px;
  border-radius: 30px;
  color: white;
  background-color: #7b6b38;
  padding: 10px 30px;
  display: block;
  margin: auto;
}
.see-services:hover {
  text-decoration: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: white;
}
.site-footer {
  background-color: #014783;
  margin-top: 100px;
  padding: 30px 0px 50px 0px;
  border-top: 16px solid #7b6b38;
  color: white;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .site-footer {
    text-align: center;
  }
  .site-footer .social {
    text-align: left !important;
    width: 120px;
    margin-left: calc(50% - 60px);
  }
}
.site-footer p {
  line-height: 1rem;
  font-size: small;
}
.site-footer ul {
  list-style-type: none;
  padding-left: 0px;
}
.site-footer ul li {
  color: white;
  line-height: 3;
}
.site-footer ul li img {
  width: 24px;
  margin-right: 10px;
}
.site-footer ul li a {
  color: white;
}
.site-footer ul li a:hover {
  font-weight: bold;
}
@media only screen and (max-width: 768px) and (min-width: 320px) {
  .site-footer {
    padding: 30px 20px 50px 20px;
    color: white;
  }
  .site-footer ul {
    list-style-type: none;
    padding-left: 0px;
  }
  .site-footer ul li {
    color: white;
    line-height: 2;
  }
  .site-footer ul li img {
    width: 24px;
    margin-right: 10px;
  }
  .site-footer ul li a {
    color: white;
  }
  .site-footer ul li a:hover {
    font-weight: bold;
  }
}
#dark-screen {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
#responsive-menu {
  position: fixed;
  top: 0px;
  height: 100vh;
  left: -70%;
  width: 70%;
  z-index: 100001;
  background-color: white;
}
#responsive-menu #menu-logo {
  background-color: #F9F6F8;
  padding: 24px 16px;
  border-bottom: 2px solid #014783;
}
#responsive-menu #menu-logo img {
  margin-left: 20px;
}
#responsive-menu #mobile-menu {
  padding: 24px 24px 24px 0px;
}
#responsive-menu #mobile-menu .mobile-links {
  list-style-type: none;
  padding-left: 16px;
}
#responsive-menu #mobile-menu .mobile-links li {
  line-height: 2rem;
  width: 100%;
  padding-left: 24px;
}
#responsive-menu #mobile-menu .mobile-links li a {
  color: #014783;
  font-weight: bold;
}
#responsive-menu #mobile-menu .mobile-links li a:hover {
  text-decoration: none;
  color: #00101e;
}
#responsive-menu #mobile-menu .mobile-links li.active {
  background-color: #eee;
}
#responsive-menu #mobile-menu .mobile-links li.active a {
  color: #585858;
}
.scroll-top {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: white;
}
